$dark-blue: hsl(209, 23%, 22%);             // Dark Mode Elements
$very-dark-blue_bg: hsl(207, 26%, 17%);     // Dark Mode Background
$very-dark-blue: hsl(200, 15%, 8%);         // Light Mode Text
$dark-gray: hsl(0, 0%, 52%);                // Light Mode Input 
$very-light-gray: hsl(0, 0%, 98%);          // Light Mode Background
$white: hwb(0 100% 0%);                   // Dark Mode Text & Light Mode Elements


$themes: (
    light: (
        color-background: $very-light-gray
    ),

    dark: (
        color-background: $very-dark-blue_bg
    )
);
