#main {
  margin: 0;
  background-color: var(--background);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--text);
  padding: 1rem 4rem;
}

#main .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  
}

#main .search-div input {
  padding: .75rem 2.5rem;
  width: 300px;
  background-color: var(--elements);
  color: var(--text);
  border: none;
  border-radius: 5px;
}

#main .search-div input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--text);
}

#main .search-div input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--text);
  opacity: 1;
}

#main .search-div input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--text);
  opacity: 1;
}

#main .search-div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text);
}

#main .search-div input:focus {
  border: none;
}

#main .search-div input:active {
  border: none;
}

#main .search-div inputplaceholder {
  color: var(--text);
}

#main .search-div select {
  background-color: var(--elements);
  color: var(--text);
  border: none;
  width: 150px;
  padding: 0 1rem;
  border-radius: 5px;
}

#main .search-div > .input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#main .search-div > .input-div > .search-icon {
  position: absolute;
  left: 10px;
}
 
.countries {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 40px;

  /* display: -ms-grid; */
  /* display: grid; */
  /* -ms-grid-columns: (280px)[auto-fit]; */
      /* grid-template-columns: repeat(auto-fit, 20%); */
}

.countries .link {
  color: var(--elements);
  text-decoration: none;
  align-self: center;
}

.countries .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--elements);
  color: var(--text);
  border-radius: 5px;
  height: 400px;
  max-width: 300px;
}

.countries .country h1 {
  cursor: pointer;
}

.countries .country .info {
  padding: .5rem 1rem;
}

.countries .country .info ul {
  list-style-type: none;
  padding-left: 0;
}

.countries .country .info ul .info__tag {
  font-weight: 600;
}

.countries .flag {
  cursor: pointer;
  width: 100%;
  height: 200px;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media screen and (max-width: 780px){
  .countries {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .countries {
    justify-content: center;
  }
}

@media screen and (max-width: 560px){
  #main {
    padding: 1rem;
    align-items: center;
  }

  #main > .search-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #main > .search-div > select {
    height: 40px;
  }
}



@media screen and (max-width: 360px){
  #main > .search-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #main > .search-div > select {
    height: 40px;
  }
}
